@charset "UTF-8"; /*한글 주석처리시 설정*/

.calendar_top {
  text-align: center;
  .Month {
    font-size: 25px;
  }
  .prev_crcl {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid #cfd3de;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent: -9999em;
  }
  .next_crcl {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 1px solid #cfd3de;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent: -9999em;
  }
}

// .calendar_top .title_calendar {
//   font-size: 24px;
//   font-weight: 700;
//   line-height: 1;
// }

.tbl_calendar {
  border-collapse: collapse;
  border-spacing: 1;
  width: 100%;
  margin-bottom: 1px;
  border-bottom: 1px solid rgb(54 58 84 / 60%);
}

.tbl_calendar table {
  width: 100%;
}

.tbl_calendar th {
  background: #363a54;
  color: #fff;
  text-align: center;
  border-right: 1px solid #979da5;
  border-bottom: 1px solid #fff;
  padding: 6px;
  font-size: 12px;
}
.all {
  border-radius: 15px 0 0 0;
}

.tbl_calendar th:nth-child(2) {
  /* border-radius: 15px 0 0 0; */
  color: #ff0000;
}

.tbl_calendar th:last-child {
  border-radius: 0 15px 0 0;
  color: #85e3df;
}

tbody td:nth-child(2) .sunday {
  color: #ff0000;
}
tbody td:last-child .saturday {
  color: #2497cf;
}

.tbl_calendar td.sun {
  background: #363a54;
  color: #ff0000;
}

.tbl_calendar td {
  border-bottom: 1px solid #eaedf1;
  border-right: 1px solid #eaedf1;
  color: #70767f;
  height: 100px;
}

.tbl_calendar td > div {
  color: #70767f;
  height: 100%;
  padding: 5px;
}

.other-month {
  background: rgb(54 58 84 / 10%);
}

.navi_area {
  display: inline-block;
  vertical-align: auto;
}

.today {
  background-color: rgb(143, 215, 143);
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day_calendar_title {
  // border-radius: 15px 15px 0 0;
  margin-top: 10px;
  display: flex;
  flex-direction: row; /*주 축이 수평*/
  justify-content: flex-start;
  background-color: #f1f3f9;
  text-align: left;
  align-items: center;
  height: 60px;
  .day_blank {
    width: 80px;
  }
  .day_title {
    font-size: 20px;
    padding-left: 10px;
  }
}
.day_calendar1 {
  margin-top: 0;
  display: flex;
  flex-direction: row; /*주 축이 수평*/
  justify-content: flex-start;
  // border-top: none !important;
  // border-bottom: 1px solid rgb(237, 235, 232);
  height: 60px;
  background-color: inherit;
  text-align: left;
  align-items: center;
  .box0 {
    height: 60px;
    width: 30%;
    text-align: center;
    border: 1px solid rgb(237, 235, 232);
    display: flex;
    align-items: center;
    //padding-left: 10%;
  }
  .box1 {
    height: 60px;
    width: 80%;
    padding-left: 10px;
    border: 1px solid rgb(237, 235, 232);
    display: flex;
    align-items: center;
  }
}
.day_calendar2 {
  margin-top: 0;
  display: flex;
  flex-direction: row; /*주 축이 수직*/
  justify-content: flex-start;
  // overflow-y: scroll;
  // border-top: none !important;
  // border-bottom: 1px solid rgb(237, 235, 232);
  //border: 1px solid rgb(237, 235, 232);
  background-color: inherit;
  text-align: left;
  .box2 {
    width: 30%;
    height: 60px;
    // border-bottom: none !important;
    .timeBox {
      padding-left: 10%;
      height: 60px;
      font-size: 17px;
      border: 1px solid rgb(237, 235, 232);
      display: flex;
      align-items: center;
      text-align: center;
      padding-left: 10%;
    }
  }
  .box3 {
    height: 60px;
    width: 80%;
    border: 1px solid rgb(237, 235, 232);
  }
}
